.btn{
    font-weight: 600;
    border: none;
    border-radius: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}
.btn:active{
    padding-top: 5px;
    padding-left: 15px;
}
.btn-primary{
    background-color: #5b29a6;
    color: #cbf5ef;
}
.btn-primary:hover{
    background-color: #5660d6;
    color: #cbf5ef;
}

.btn-danger{
    background-color: #d64562;
    color: #cbf5ef;
}
.btn-danger:hover{
    background-color: #f2735c;
    color: #cbf5ef;
}

.btn-success{
    background-color: #37ada2;
    color: #cbf5ef;
}
.btn-success:hover{
    background-color: #8cde8c;
    color: #cbf5ef;
}
